
body {
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background-color: #000;
        color: #DB2645;
}
h1 h2{
        color: #0BB5FF;
}
a {
        color: #FFFF7E;
}
table {
    table, td, th
{
border:1px solid #24D330;
}