
body {
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background-color: #000;
        color: #49E20E;
}
h1 h2{
        color: #0BB5FF;
}
a {
        color: #FFFF7E;
}
