/*body {
        font-family:"Trebuchet MS", Helvetica, sans-serif;
        background-color: #003F87;
        color: #83F52C;
}
h1 h2{
        color: red;
}
a {
        color: red;
}*/

body {
    background-image: url("addForm.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#addForm {
    margin: 0 auto;
}

.teleTable {
    font-size: 30px;
    font-family: 'Mirza', cursive;
}

.teles {
    font-size: 30px;
    font-family: 'Mirza', cursive;

}

.teleState {
    font-size: 30px;
    font-family: 'Mirza', cursive;
}
