/*body {
        font-family:"Trebuchet MS", Helvetica, sans-serif;
        background-color: #003F87;
        color: #83F52C;
}
h1 h2{
        color: red;
}
a {
        color: red;
}*/

body {
    background-image: url("addForm.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#addForm {
    margin: 0 auto;
}

.teleTable {
    font-size: 30px;
    font-family: 'Mirza', cursive;
}

.teles {
    font-size: 30px;
    font-family: 'Mirza', cursive;
    background-color: #f5ead8;
    color: #000;
}

.teleState {
    font-size: 25px;
    font-family: 'Mirza', cursive;
    background-color: #f5ead8;
    color: #000;
}

#newEntry {
    padding-right: 175px;
}

#addEntry {
    padding-right: 175px;
}

.addEntryButton {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Mirza', cursive;
}
