<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Cormorant+Garamond|Poiret+One|Josefin+Slab|Quicksand|Tangerine');
    </style>

<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<script   src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="theCSS.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

    $(function(){
    $('[rel="popover"]').popover({
        container: '.projectsDiv',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
            return clone;
        }
    }).click(function(e) {
        e.preventDefault();
    });
});

$(".projImages").hover(function(){
    $(this).css({position : 'relative'});
    $(this).height('300px');
   	$(this).width('470px');
},
    function() {
        $(this).css({position : 'static'});
        $(this).height('300px');
       	$(this).width('450px');
});

});
</script>

</head>
<body ng-app="">

<div class="bgimg-1">
  <div class="caption" id="nameDev">
      <!-- <table>
          <tr><td>Rashmee Prakash</td></tr>
          <tr><td>Web Developer</td></tr>
      </table> -->
    <!-- <span class="border">Rashmee Prakash <br /> Web Developer</span> -->
  </div>
</div>
<div class="divMenu">
    <ul class="theMenu">
        <li>
            <a class="testA" href="#nameDev" data-toggle="tooltip" data-placement="right" title="About Me">
                <span class="glyphicon glyphicon-ice-lolly"></span>
            </a>
        </li>
        <li>&nbsp;</li>
        <li>
            <a class="testA" href="#skills" data-toggle="tooltip" data-placement="right" title="Skills">
                <span class="glyphicon glyphicon-ice-lolly"></span>
            </a>
        </li>
    </ul>
</div>

<div style="text-align:center;padding:50px 80px;text-align: center;" class="aboutMeDiv">
  <h1 id="aboutMe" class="aboutMe" style="text-align:center;">About Me</h1>
  <p>
      I am a graduate of <a href="https://www2.gmu.edu/" target="_blank">George Mason University</a>. I am currently working at <a href="http://www.hurdit.com/" target="_blank">Hurd IT Communications</a> as a Web Developer. I develop web apps from both back end (Coldfusion and Microsoft SQL Server) to front end (HTML, CSS, jQuery/Javascript), user experience and visual design for clients such as <a href="http://www.ctia.org/" target="_blank">CTIA - Everything Wireless</a>.
  </p>
  <p>
       I&#39;m extremely passionate about web development and design and am constantly looking to learn new and exciting programming languages. Aside from web development, I love reading and reviewing books. I enjoy traveling to many different countries and experience their culture.
   </p>
  <p>
      This is my portfolio where I showcase my projects.
  </p>
</div>

<div class="bgimg-2" id="skills">
  <div class="skillsCap">
        <div class="form-group">
            <input type="text" ng-model="searchSkill" class="form-control" placeholder="Enter Skill">
            <br />
        </div>
        <div class="skillList">
        <div ng-init = "skills = [{theSkill: 'HTML', skillImg: 'skills/html.png'},
                                            {theSkill: 'CSS', skillImg: 'skills/css.png'},
                                            {theSkill: 'JavaScript', skillImg: 'skills/js.png'},
                                            {theSkill: 'jQuery', skillImg: 'skills/jquery.png'},
                                            {theSkill: 'jQuery UI', skillImg: 'skills/jqueryui.png'},
                                            {theSkill: 'AJAX', skillImg: 'skills/ajax.png'},
                                            {theSkill: 'Bootstrap', skillImg: 'skills/bootstrap.png'},
                                            {theSkill: 'Angular JS', skillImg: 'skills/angular.png'},
                                            {theSkill: 'Microsoft SQL Server 2012', skillImg: 'skills/sql2012.png'},
                                            {theSkill: 'Microsoft SQL Server 2014', skillImg: 'skills/sql2014.png'},
                                            {theSkill: 'Microsoft SQL Server 2016', skillImg: 'skills/sql2016.png'},
                                            {theSkill: 'Oracle Database Express Edition 11g', skillImg: 'skills/11g.png'},
                                            {theSkill: 'Tableau Software', skillImg: 'skills/tableau.png'},
                                            {theSkill: 'PL/SQL', skillImg: 'skills/PLSQL.png'},
                                            {theSkill: 'ColdFusion', skillImg: 'skills/cf.png'},
                                            {theSkill: 'ASP.Net', skillImg: 'skills/asp.png'},
                                            {theSkill: 'PHP', skillImg: 'skills/php.png'},
                                            {theSkill: 'Visual Basic', skillImg: 'skills/vb.png'},
                                            {theSkill: 'Adobe Photoshop', skillImg: 'skills/photoshop.png'},
                                            {theSkill: 'Adobe InDesign', skillImg: 'skills/inDesign.png'},
                                            {theSkill: 'Adobe Illustrator', skillImg: 'skills/illustrator.png'},
                                            {theSkill: 'Microsoft Office', skillImg: 'skills/office.png'}]">
                                        </div>
        <ul class="list-group">
            <li class="list-group-item"  ng-repeat="skill in skills | filter:searchSkill"><img ng-src="{{skill.skillImg}}" class="img-rounded" /> &nbsp;&nbsp;&nbsp; {{skill.theSkill}}</li>
        </ul>
    </div>
    <!-- <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span> -->
  </div>
</div>

<div class="bgimg-3">
    <div class="projectsCap">
          <div class="form-group">
              <input type="text" ng-model="searchProject"  class="form-control" placeholder="Enter Project/Skill">
              <br />
          </div>
          <div class="projectsDiv">
              <div class="thePopovers">
                    <div id="litPopover" class="hide myPopovers">
	                       <h3><u>Create Your Own Literary ID</u></h3>
                           <br />
                           <p>
                               This website is for all the fans of great literary works of fiction. It allows the user to create an ID card  for themselves to be a part of the fictional world of their choice. The choice varies from the world of Jane Austen to the magical world of Harry Potter to brave world of the Hunger Games.
                            </p>
                            <br />
                            The website can be viewed <a href="projects/literary/parallax.html" target="_blank">here</a>.
                    </div>
                    <div id="dhcPopover" class="hide myPopovers">

                      <h3 align="center"><u>Capstone Senior Project</u></h3>

                      <p class="pAbtMe" align="center">Our Capstone project wanted us to fine a technical solution for a business problem. My group and I worked with <a href="http://distinctivehomecare.com/home.php" target="_blank">Distinctive Home Care</a> on how we can help bettter their business process.</p>
                      <p align="center">I served as the technical lead while working with Distinctive Home Care (DHC). This project was divided between two semesters. I created Gantt Charts for the <a href="projects/DHC/slides/Gantt Chart- 492.pdf" target="_blank">first semester</a> and the <a href="projects/DHC/slides/Gantt Chart- IT493.pdf" target="_blank">second semester</a> to properly illustrate the work breakdown schedule. During the first semster we were asked to meet with DHC and analyze their business process and develop a complelling business case for change that could be solved using technology.</p>
                      <p align="center">While analyzing DHC's busniess process, we found that while scheduling appointments for current or potential clients, they had to look through files of paper based records to find a caregiver that matches the requirements of the client. Due the delay in finding the right caregiver, DHC sometimes lost clients and wanted a solution where filtering and scheduling a caregiver is no more such a laborious process.</p>
                      <p align="center">After carefully analyzing DHC's requirements, we found that it would be best if DHC would purchase <a href="http://wheniwork.com/?utm_expid=82000332-9.au63AZf0Qqy1gDY9-0DuRQ.0" target="_blank">When I Work</a>, a very simple and efficient <a href="#theScheduler">scheduling software</a> that would help simply their daily business process. With the help of this software, DHC would now be able to combine the duties of a receptionist and scheduler and in turn hire someone to help with marketing, which was one of their requirements. Another issue with an easy fix that DHC had was the need of a <a href="#theContactForm">contact form</a> on their website for clients who wanted some basic information via the internet. I suggested an simple <a href="http://distinctivehomecare.com/contact_us.php" target="_blank">PHP contact form</a> would not go amiss and would greatly benefit DHC and their clients. </p>
                      <p align="center">I helped train the super user at DHC on how to import and export contacts, create a schedule and also troubleshoot problems when working with When I Work. I also created a simple <a href="projects/DHC/slides/userManual.pdf" target="_blank">User manual</a> for their ease along with a short <a href="https://www.youtube.com/watch?v=6hinvlJ6ZYI" target="_blank">video</a> that would give them an idea on how the software would help make things easier and more efficient for them.</p>
                      <br />
                      <br />
                      <figure>
                      <img class="projImages" src="projects/DHC/slides/asis2.png" alt="asis" id="asis" height="300" width="450">
                      <figcaption>The As Is Process</figcaption>
                      </figure>
                      <br /><br />
                       <figure>
                      <img class="projImages" src="projects/DHC/slides/tobe2.png" alt="tobe" id="tobe" height="300" width="450">
                      <figcaption>The To Be Process</figcaption>
                      </figure>
                      <br /><br />
                      <figure>
                      <img class="projImages" src="projects/DHC/slides/Screen Shot 2014-10-28 at 6.27.38 PM.png" alt="scheduler"  height="300" width="450" id="theScheduler">
                      <figcaption>The Scheduler</figcaption>
                      </figure>
                      <br /><br />
                      <figure>
                      <img class="projImages" src="projects/DHC/slides/Screen Shot 2014-12-08 at 3.43.13 PM.png" alt="form"  height="300" width="450" id="theContactForm">
                      <figcaption>The PHP contact form</figcaption>
                      </figure>
                    </div>
                </div>
              <div ng-init = "projects = [
              {theProject: 'Literary ID Card', projectImg: 'projects/literary/book.png', projectContent: 'litPopover'},
              {theProject: 'DHC', projectImg: 'projects/DHC/dhcLogo.png', projectContent: 'dhcPopover'},
              {theProject: 'Foodograph', projectImg: 'projects/foodograph/theApp.png'},
              {theProject: 'Harry Potter Course Catalog', projectImg: 'projects/hp/hp2.png'},
              {theProject: 'Discovery Car Dealership', projectImg: 'projects/discovery/discovery.png'},
              {theProject: 'Horseman Gather Stables', projectImg: 'projects/horse/horse.png'},
              {theProject: 'Reed Moore Library', projectImg: 'projects/library/books.png'},
              {theProject: 'Guest Book', projectImg: 'projects/php/gBook.png'},
              {theProject: 'Life Expectancy of Females and Males', projectImg: 'projects/tableau/tableau.png'},
              {theProject: 'Stop Domestic Violence', projectImg: 'projects/stopDV/DVlogo.png'},
              {theProject: 'Website on the Country Timor Leste', projectImg: 'projects/timorLeste/tL.png'}
              ]">
              </div>
              <ul class="list-group">
                  <!-- <a href="#" rel="popover" title="Popover Header" data-popover-content="#myPopover" data-trigger="focus">My Popover</a> -->
                  <li class="list-group-item"  ng-repeat="project in projects | filter:searchProject"><a href="#" rel="popover" title="{{project.theProject}}" data-popover-content="#{{project.projectContent}}"><img ng-src="{{project.projectImg}}" class="img-circle" width="195" height="195" /></a> &nbsp;&nbsp;&nbsp; <span class="projectName">{{project.theProject}}</span></li>
              </ul>
          </div>
    </div>
</div>


<div class="bgimg-4">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>

</body>
</html>
